pytz==2018.5
python-dateutil==2.7.3
six==1.11.0
chardet==3.0.4
idna==2.7
certifi==2018.8.24
urllib3==1.23
requests==2.19.1
pep8==1.7.1
pyflakes==2.0.0
pycodestyle==2.3.1 # pyup: <2.4.0
configparser==3.5.0
enum34==1.1.6
flake8==3.5.0
boto==2.49.0
filechunkio==1.8
defusedxml==0.5.0
lxml==4.2.4
requests-toolbelt==0.8.0
isodate==0.6.0
cached-property==1.5.1
zeep==2.5.0 # pyup: <3.0.0
attrs==18.2.0
pluggy==0.7.1
funcsigs==1.0.2
py==1.6.0
pytest==3.8.1
mock==2.0.0
pbr==4.3.0
more_itertools==4.3.0
atomicwrites==1.2.0
pathlib2==2.3.2
scandir==1.9.0
